# language: yaml
services:
    app:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: sql-ai-app
      ports:
        - "8080:8080"
      environment:
        - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/spring_ai_db
        - SPRING_DATASOURCE_USERNAME=postgres
        - SPRING_DATASOURCE_PASSWORD=postgres
        - SPRING_AI_OPENAI_API-KEY=${OPENAI_API_KEY}
        - SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=gpt-3.5-turbo
      restart: unless-stopped
      depends_on:
        db:
          condition: service_healthy
      networks:
        - app-network

    db:
      image: postgres:14
      container_name: sql-ai-db
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_DB=spring_ai_db
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./spring_ai_data.sql:/docker-entrypoint-initdb.d/init.sql
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks:
        - app-network

networks:
    app-network:
      driver: bridge

volumes:
    postgres_data: